@media (max-width: 1470px) {
    .fih-main ,.fih-nav-main{
        max-width: 72%;
    }
}
@media (max-width: 1200px) {
    .fih-main {
        margin-bottom: 150px !important;
    }
    .fih-main ,.fih-nav-main{
        max-width: 78%;
    }
}
@media (min-width: 993px) {
    .footer {
        z-index: 9999;
        position: fixed;
    }
    .fih-main {
        margin-bottom: 100px !important;
    }
}
@media (max-width: 992px) {
    .fih-main ,.fih-nav-main{
        max-width: 100%;
    }
    .fih-main {
        margin-bottom: 0 !important;
    }
}
.fih-main {
    margin-top: 2em;
}
.footer {
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 15px 10px;
    bottom: 0;
}
.fih-imageucode-cover, .fih-imageucode-cover img {
    width: 100px;
    height: 100px;
}

/* .page-header h1 {
    text-shadow: -5px 5px 0 rgba(0, 0, 0, .1);
} */


.navbar-brand {
    color: #fff !important;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.fih-imageucode-tip {
    font-size: 11px;
}

.layui-form-label {
    width: auto;
}

.fih-api-tips {
    font-weight: bold;
}

.fih-table-small {
    max-width: 50%;
}

.image-container {
    text-align: center;
}

.image-size-container span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
    max-width: 15rem;
}

.image-src img {
    margin: auto;
    align-items: center;
}

.image-src a {
    display: flex;
    align-items: center;
    min-height: 300px;
}
